<%-include('../partials/header.ejs', { user}) %>
    <br>
    <button class="ms-4 btn btn-outline-primary" type="submit" ><a class="text-dark text-decoration-none" href="/">&larr; Back to Search</a></button>    

    <br>
    <br>
    <div class="ms-4">
        <h2><strong>Brand name: </strong><%=drug.openfda.brand_name%></h2>
        <p><strong>Generic name: </strong><%=drug.openfda.generic_name%></p>
        <p><strong>Route: </strong><%=drug.openfda.route%></p>
        <p><strong>Active ingredients: </strong><%=drug.active_ingredient%></p>
        <p><strong>Typical dosage: </strong><%=drug.dosage_and_administration%></p>
        <p><strong>Indications and Usage: </strong><%=drug.indications_and_usage%></p>
        <p><strong class="text-danger"> ‼️ ⛔️ CAUTION ⛔️ !! </strong><%=drug.do_not_use%>. <%=drug.ask_doctor%>.</p>


        <!-- Favorites button for logged in users -->
        <% if (user) { %>
            <form method="POST" action="/favorites">
                <input hidden type="text" value="<%=drug.openfda.brand_name%>" name="brand_name"/>
                <input hidden type="text" value="<%=drug.openfda.generic_name%>" name="generic_name"/>
                <input hidden type="text" value="<%=drug.openfda.route%>" name="route"/>
                <input hidden type="text" value="<%=drug.active_ingredient%>" name="active_ingredient"/>
                <input hidden type="text" value="<%=drug.dosage_and_administration%>" name="dosage"/>
                <input hidden type="text" value="<%=drug.indications_and_usage%>" name="indications_and_usage"/>
                <input hidden type="text" value="<%=drug.do_not_use%>" name="caution"/>
                <input hidden type="text" value="<%=drug.ask_doctor%>" name="ask_doctor"/>
                <input hidden type="text" value="<%=drug.id%>" name="api_id"/>
                
                <button class="btn btn-outline-success" type="submit">Add to my favorites ❤️</button>
            </form>
            <br>
            <%}%>

             <!-- COMMENTS SECTION -->
             <p class="fw-bold">Comments:</p>
             <% if (drug.comments) { %>
                <% drug.dataValues.comments.forEach(function(comment) { %>
                   <p> <%=comment.user.email%> says:</p>
                   <p class="ms-4 fst-italic fw-lighter"><%= comment.content %></p>
                   <% }) %>
                 <%} else { %>
                    <p>No comments yet!</p> <%}%>
                 
         <!-- POST A NEW COMMENT -->
             <p><strong>Leave a comment:</strong></p>
             <form method="POST" action="/favorites/comment">
                <input hidden type="text" value="<%=drug.openfda.brand_name%>" name="brand_name"/>
                <input hidden type="text" value="<%=drug.openfda.generic_name%>" name="generic_name"/>
                <input hidden type="text" value="<%=drug.openfda.route%>" name="route"/>
                <input hidden type="text" value="<%=drug.active_ingredient%>" name="active_ingredient"/>
                <input hidden type="text" value="<%=drug.dosage_and_administration%>" name="dosage"/>
                <input hidden type="text" value="<%=drug.indications_and_usage%>" name="indications_and_usage"/>
                <input hidden type="text" value="<%=drug.do_not_use%>" name="caution"/>
                <input hidden type="text" value="<%=drug.ask_doctor%>" name="ask_doctor"/>
                <input hidden type="text" value="<%=drug.id%>" name="api_id"/>

                 <input hidden type="text" value="<%=user.id%>" name="userId"/>
                 <input type="text" placeholder="Write your comment" name="content"/>
                 <button class="btn btn-outline-success" type="submit">Submit</button>
             </form>

             <br>

         </div>

       
    </div>

<%-include('../partials/footer.ejs') %>