<%-include('../partials/header.ejs', { user}) %>

<br>
<h3 class="ms-2">Search results for '<%=drug%>':</h3>

<% results.forEach(drug => { %>
    <br>
    <div class="ms-4">
        <h2><strong>Name: </strong><%=drug.openfda.brand_name%></h2>
        <p><strong>Generic name: </strong><%=drug.openfda.generic_name%></p>

        <div>
            <a href="/drugs/<%=drug.id%>">See more info</a>
        </div> 
    </div>
    <%})%>
    <br>

<%-include('../partials/footer.ejs') %>
